<h2>List of ratings</h2>

<p>Ratings count: <%= @ratings.count %></p>

<ul>
  <% @ratings.each do |rating| %>
    <li>
      <%= render rating %>
      <%= link_to rating.user.username, rating.user %>
    </li>
  <% end %>
</ul>

<% if current_user.present? %>
  <%= link_to "New rating", new_rating_path, class: "btn btn-primary" %>
<% end %>