<h1>Styles</h1>

<div id="styles">
  <% @styles.each do |style| %>
    <div id="<%= dom_id style %>">
      <hr>
      <p>
        <strong>Name:</strong>
        <%= link_to style.name, style %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= style.description %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to("New style", new_style_path, class: "btn btn-primary") if current_user %>
