<%= render @style %>

<div>
  <strong>Beers:</strong>
  <ul>
    <% @style.beers.each do |beer| %>
      <li><%= beer.name %></li>
    <% end %>
  </ul>
</div>

<% if current_user %>
  <%= edit_and_destroy_buttons(@style) %>
<% end %>
<%= link_to "Back to styles", styles_path %>